@model HelpDeskSystem.ViewModels.TicketViewModel

@{
    ViewData["Title"] = "Closed Tickets";
}
<div class="card rounded-4">
    <form id="myForm" asp-action="ClosedTickets" method="post">
        <div class="col-md-12">
            <div class="row p-3">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="CreatedById" class="control-label"></label>
                        <select asp-for="CreatedById" class="form-control single-select" asp-items="ViewBag.CreatedById">
                            <option value=" ">Select User</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <select asp-for="CategoryId" class="form-control single-select" asp-items="ViewBag.CategoryId">
                            <option value=" ">Select Category</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="StatusId" class="control-label"></label>
                        <select asp-for="StatusId" class="form-control single-select" asp-items="ViewBag.StatusId">
                            <option value=" ">Select Status</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="PriorityId" class="control-label"></label>
                        <select asp-for="PriorityId" class="form-control single-select" asp-items="ViewBag.PriorityId">
                            <option value=" ">Select Priority</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row p-3 float-end me-5">
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success px-5"><i class="fadeIn animated bx bx-search-alt"></i> Search</button>
                    <button type="button" id="clearBtn" class="btn btn-outline-danger px-5 ms-2"><i class="bi bi-x-circle"></i> Clear</button>
                </div>
            </div>
        </div>
    </form>

</div>



<div class="card rounded-4">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h6 class="mb-0">Closed Tickets</h6>
        </div>
        <p>
            <a asp-action="Create" class="btn btn-primary">Add New Ticket</a>
        </p>
        <table id="example" class="table table-bordered table-striped table-responsive table-hover table-responsive-lg">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PriorityId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubCategoryId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StatusId)
                    </th>
                    <th>No Of Comments</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tickets)
                {
                    var colorcode = "#00ffbf";
                    if (item.Status.Code == "Resolved")
                    {
                        colorcode = "Green";
                    }
                    else if (item.Status.Code == "Escalated")
                    {
                        colorcode = "#a9c600";
                    }
                    else if (item.Status.Code == "Reassigned")
                    {
                        colorcode = "Purple";
                    }
                    else if (item.Status.Code == "Closed")
                    {
                        colorcode = "Darkred";
                    }
                    else if (item.Status.Code == "InProgress")
                    {
                        colorcode = "Blue";
                    }
                    else if (item.Status.Code == "AwaitingAssignment")
                    {
                        colorcode = "Red";
                    }
                    else if (item.Status.Code == "Pending")
                    {
                        colorcode = "#ffae00";
                    }

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubCategory.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td style="background-color:@colorcode;" class="text-white">
                            @Html.DisplayFor(modelItem => item.Status.Description)
                        </td>
                        <td class="text-center">
                            <a asp-controller="Comments" asp-action="TicketComments" asp-route-id="@item.Id">    @item.TicketComments.Count()</a>
                        </td>
                        <td>
                            <div class="ms-auto">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">Actions</button>
                                    <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                                        <li>
                                            <a asp-controller="Comments" asp-action="TicketComments" asp-route-id="@item.Id" class="dropdown-item">Comments</a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Edit</a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">Details</a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item">Delete</a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        @if (item.Status.Code != "Resolved" && item.Status.Code != "Closed")
                                        {
                                            <li>
                                                <a asp-action="TicketAssignment" asp-route-id="@item.Id" class="dropdown-item">Assign</a>
                                            </li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li>
                                                <a asp-action="Resolve" asp-route-id="@item.Id" class="dropdown-item">Resolve</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li><hr class="dropdown-divider"></li>
                                            <li>
                                                <a asp-action="ReOpen" asp-route-id="@item.Id" class="dropdown-item">Re-Open</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>