@model HelpDeskSystem.Models.Ticket

@{
    ViewData["Title"] = "Details";
}
<div class="card rounded-4">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h6 class="mb-0">Tickets Details</h6>
        </div>
        <div class="row">
            <table class="table table-bordered table-striped table-responsive table-hover table-responsive-lg">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Title)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Status)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.Priority)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Priority)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.CreatedBy.FullName)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List </a>
    </div>
</div>

