@model HelpDeskSystem.ViewModels.TicketViewModel

@{
    ViewData["Title"] = "Tickets Resolutions";
}
<div class="card rounded-4">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h6 class="mb-0">Tickets Resolutions</h6>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <h4>Tickets Details</h4>
                <table id="example" class="table table-bordered table-striped table-responsive table-hover table-responsive-lg">
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TicketDetails.Title)
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TicketDetails.Description)
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.StatusId)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TicketDetails.Status.Description)
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.PriorityId)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TicketDetails.Priority.Description)
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TicketDetails.CreatedBy.FullName)
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.CreatedOn)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TicketDetails.CreatedOn)
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.SubCategoryId)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TicketDetails.SubCategory.Name)
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.AssignedToId)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TicketDetails.AssignedTo.FullName)
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.AssignedOn)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TicketDetails.AssignedOn)
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.Attachment)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TicketDetails.Attachment)
                        </td>
                    </tr>
                </table>
                <div class="col-md-6">
                    <h4>Tickets Resolution History</h4>
                    <table class="table table-bordered table-striped table-responsive table-hover table-responsive-lg">
                        <thead style="background-color:burlywood;">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketResolution.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketResolution.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketResolution.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketResolution.Ticket)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketResolution.CreatedBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketResolution.CreatedOn)
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TicketResolutions)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ticket.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedOn)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Tickets Comments</h4>
                <table class="table table-bordered table-striped table-responsive table-hover table-responsive-lg">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketComment.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketComment.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketComment.Ticket)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketComment.CreatedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketComment.CreatedOn)
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TicketComments)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ticket.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedOn)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <form asp-action="AssignedConfirmed" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <label class="control-label">Assign To</label>
                        <select asp-for="AssignedToId" class="form-control single-select" asp-items="ViewBag.UserId"></select>
                    </div>
                    <div class="row">
                        <label class="control-label">New Ticket Resolution Comment</label>
                        <textarea asp-for="CommentsDescription" type="text" class="form-control-lg"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary float-end mt-5">Add Resolution Status</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List </a>
    </div>
</div>

