@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Index";
}
<div class="card rounded-4">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h6 class="mb-0">System Roles List</h6>
        </div>
        <p>
            <a asp-action="Create" class="btn btn-primary">Add New Role</a>
        </p>
        <table id="example" class="table table-bordered table-striped table-responsive table-hover table-responsive-lg">
            <thead>
                <tr>
                    <th>
                        Roll No
                    </th>
                    <th>
                        Role Name
                    </th>
                    <th>Rights</th>
                    <th>Edit</th>
                    <th>View</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="UserRights" asp-controller="UserRoleProfiles" asp-route-id="@item.Id" class="btn btn-secondary">Assign Rights</a>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary">View</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
