@using Newtonsoft.Json
@model HelpDeskSystem.Models.AuditTrail

@{
    ViewData["Title"] = "Audit Trail";
}
<div class="card rounded-4">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h6 class="mb-0">Audit Trail Details</h6>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <h4>Audit Trails Details</h4>
                <table id="example" class="table table-bordered table-striped table-responsive table-hover table-responsive-lg">
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Id)
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.Action)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Action)
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.Module)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Module)
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.AffectedTable)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.AffectedTable)
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.TimeStamp)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TimeStamp)
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.User)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.User.FullName)
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.OldValues)
                        </th>
                        <td>
                            <div class="json-container">
                                @if (!string.IsNullOrEmpty(Model.OldValues))
                                {
                                    <pre class="json">
                                        @Html.Raw(JsonConvert.SerializeObject(JsonConvert.DeserializeObject(Model.OldValues), Formatting.Indented))
                                                        </pre>
                                }
                                else
                                {
                                    <span class="text-muted">No previous data available.</span>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.NewValues)
                        </th>
                        <td>
                            <div class="json-container">
                                @if (!string.IsNullOrEmpty(Model.NewValues))
                                {
                                    <pre class="json">
                                        @Html.Raw(JsonConvert.SerializeObject(JsonConvert.DeserializeObject(Model.NewValues), Formatting.Indented))
                                                    </pre>
                                }
                                else
                                {
                                    <span class="text-muted">No new data available.</span>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.AffectedColumns)
                        </th>
                        <td>
                            <div class="json-container">

                                @if (!string.IsNullOrEmpty(Model.AffectedColumns))
                                {
                                    @Html.DisplayFor(model => model.AffectedColumns)
                                }
                                else
                                {
                                    <span class="text-muted">No new data available.</span>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:whitesmoke;">
                            @Html.DisplayNameFor(model => model.PrimaryKey)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.PrimaryKey)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

<style>
    .json-container {
        max-height: max-content;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-radius: 5px;
        padding: 10px;
    }

    .json {
        font-family: monospace;
        font-size: 14px;
        color: #333;
    }
</style>

