@model HelpDeskSystem.Models.Country

@{
    ViewData["Title"] = "Delete";
}

<div class="card rounded-4">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
            <h6 class="mb-0 text-danger">Are you sure you want to delete this country?</h6>
        </div>
        <hr />
        <table class="table table-bordered table-striped table-responsive table-hover table-responsive-lg">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Code)</th>
                <td>@Html.DisplayFor(model => model.Code)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                <td>@Html.DisplayFor(model => model.CreatedBy.Id)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                <td>@Html.DisplayFor(model => model.CreatedOn)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                <td>@Html.DisplayFor(model => model.ModifiedBy.Id)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                <td>@Html.DisplayFor(model => model.ModifiedOn)</td>
            </tr>
        </table>
    </div>

    <div class="row p-3">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger me-2">
                <i class="fadeIn animated bx bx-trash"></i> Delete Country
            </button>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fadeIn animated bx bx-arrow-back"></i> Back to List
            </a>
        </form>
    </div>
</div>
