@model IEnumerable<HelpDeskSystem.Models.Ticket>
@{
    ViewData["Title"] = "Home Page";
}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xxl-4">
    <div class="col">
        <div class="card overflow-hidden rounded-4 bg-pink">
            <div class="card-body p-2">
                <div class="d-flex align-items-stretch justify-content-between rounded-5 overflow">
                    <div class="w-50 p-3">
                        <p class="text-white">Total Tickets</p>
                        <h4 class="text-white">8,542</h4>
                    </div>
                    <div class="w-50 p-3">
                        <p class="mb-3 text-white text-end">+ 16% <i class="bi bi-arrow-up"></i></p>
                        <div id="chart1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card overflow-hidden rounded-4 bg-purple">
            <div class="card-body p-2">
                <div class="d-flex align-items-stretch justify-content-between rounded-4 overflow-hidden">
                    <div class="w-50 p-3">
                        <p class="text-white">Urgents Tickets</p>
                        <h4 class="text-white">12.5M</h4>
                    </div>
                    <div class="w-50 p-3">
                        <p class="mb-3 text-white text-end">- 3.4% <i class="bi bi-arrow-down"></i></p>
                        <div id="chart1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card overflow-hidden rounded-4 bg-success">
            <div class="card-body p-2">
                <div class="d-flex align-items-stretch justify-content-between rounded-4 overflow">
                    <div class="w-50 p-3">
                        <p class="text-white">Closed Tickets</p>
                        <h4 class="text-white">$64.5k</h4>
                    </div>
                    <div class="w-50 p-3">
                        <p class="mb-3 text-white text-end">+ 24% <i class="bi bi-arrow-up"></i></p>
                        <div id="chart1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card overflow-hidden rounded-4 bg-orange">
            <div class="card-body p-2">
                <div class="d-flex align-items-stretch justify-content-between rounded-4 overflow">
                    <div class="w-50 p-3">
                        <p class="text-white">Escalated Tickets</p>
                        <h4 class="text-white">25.8k</h4>
                    </div>
                    <div class="w-50 p-3">
                        <p class="mb-3 text-white text-end">+ 8.2% <i class="bi bi-arrow-up"></i></p>
                        <div id="chart1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="card rounded-4">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h6 class="mb-0">Recent Tickets</h6>
        </div>
        <div class="table-responsive mt-2">
            <table class="table table-bordered table-striped table-responsive table-hover table-responsive-lg">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Priority)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>No Of Comments</th>
                        <th>Comments</th>
                        <th>View</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var colorcode = "#00ffbf";
                        if (item.Status.Code == "Resolved")
                        {
                            colorcode = "Green";
                        }
                        else if (item.Status.Code == "Escalated")
                        {
                            colorcode = "#a9c600";
                        }
                        else if (item.Status.Code == "Reassigned")
                        {
                            colorcode = "Purple";
                        }
                        else if (item.Status.Code == "Closed")
                        {
                            colorcode = "Darkred";
                        }
                        else if (item.Status.Code == "InProgress")
                        {
                            colorcode = "Blue";
                        }
                        else if (item.Status.Code == "AwaitingAssignment")
                        {
                            colorcode = "Red";
                        }
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Priority.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>
                            <td style="background-color:@colorcode;" class="text-white">
                                @Html.DisplayFor(modelItem => item.Status.Description)
                            </td>
                            <td class="text-center">
                                <a asp-controller="Comments" asp-action="TicketComments" asp-route-id="@item.Id">    @item.TicketComments.Count()</a>
                            </td>
                            <td>
                                <a asp-controller="Comments" asp-action="TicketComments" asp-route-id="@item.Id" class="btn btn-secondary">Comments</a>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Tickets" class="btn btn-warning">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>