@model HelpDeskSystem.Models.SystemSetting

@{
    ViewData["Title"] = "Details";
}

<div class="card rounded-4">
    <div class="card-body">
        <h5 class="card-title text-primary">System Setting Details</h5>
        <hr />
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Code)</th>
                <td>@Html.DisplayFor(model => model.Code)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Value)</th>
                <td>@Html.DisplayFor(model => model.Value)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                <td>@Html.DisplayFor(model => model.CreatedBy.Id)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                <td>@Html.DisplayFor(model => model.CreatedOn)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                <td>@Html.DisplayFor(model => model.ModifiedBy.Id)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                <td>@Html.DisplayFor(model => model.ModifiedOn)</td>
            </tr>
        </table>
    </div>

    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">
            <i class="bx bx-edit-alt"></i> Edit Setting
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="bx bx-arrow-back"></i> Back to List
        </a>
    </div>
</div>
