@model HelpDeskSystem.Models.Department

@{
    ViewData["Title"] = "Department Details";
}

<div class="card shadow-sm rounded-4 mt-4">
    <div class="card-body">
        <h4 class="card-title mb-4 text-primary">Department Details</h4>

        <table class="table table-bordered table-striped">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Code)</th>
                <td>@Html.DisplayFor(model => model.Code)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                <td>@Html.DisplayFor(model => model.CreatedBy.Id)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                <td>@Html.DisplayFor(model => model.CreatedOn)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                <td>@Html.DisplayFor(model => model.ModifiedBy.Id)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                <td>@Html.DisplayFor(model => model.ModifiedOn)</td>
            </tr>
        </table>

        <div class="mt-4">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary me-2">
                <i class="bx bx-edit-alt"></i> Edit Department
            </a>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="bx bx-arrow-back"></i> Back to List
            </a>
        </div>
    </div>
</div>
