@model HelpDeskSystem.Models.SystemTask

@{
	ViewData["Title"] = "System Task Details";
}

<div class="card shadow-sm rounded-4">
	<div class="card-body">
		<h4 class="card-title text-primary mb-3">System Task Details</h4>
		<hr />
		<table class="table table-bordered table-striped table-hover">
			<tr>
				<th>@Html.DisplayNameFor(model => model.Code)</th>
				<td>@Html.DisplayFor(model => model.Code)</td>
			</tr>
			<tr>
				<th>@Html.DisplayNameFor(model => model.Name)</th>
				<td>@Html.DisplayFor(model => model.Name)</td>
			</tr>
			<tr>
				<th>@Html.DisplayNameFor(model => model.Parent)</th>
				<td>@Html.DisplayFor(model => model.Parent.Id)</td>
			</tr>
			<tr>
				<th>@Html.DisplayNameFor(model => model.OrderNo)</th>
				<td>@Html.DisplayFor(model => model.OrderNo)</td>
			</tr>
		</table>
	</div>
	<div class="card-footer">
		<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">
			<i class="bx bx-edit-alt"></i> Edit Task
		</a>
		<a asp-action="Index" class="btn btn-secondary">
			<i class="bx bx-arrow-back"></i> Back to List
		</a>
	</div>
</div>
